.idea/
cbin
lib/*.jar
*.rej
*.so
target
*.o
*.incl
logs
.classpath

data
!data/rcv1_fmt.txt
!data/uci_fmt.txt
!data/uci_wfmt.txt
!data/factorNet
!data/MHTestCorrections
/bin
*.xml
*.iml

.DS_store
project/
*.txt
log.txt.lck
*.lck
