*~
*.jar
*.dll
*.dylib
*.incl
*.rej
*.so
*.o
.cache-main
.ipynb_checkpoints/

/.cache-tests
/.settings/
/bin/
/cbin/
/data/
!/data/rcv1_fmt.txt
!/data/uci_fmt.txt
!/data/uci_wfmt.txt
!/data/factorNet
!/data/MHTestCorrections
/logs/
/jupyter/
/project/
/target/
